__pycache__
.venv
.git
.gitattributes
.gitignore
*.pyc
*.pyo
*.pyd
.Python
env
venv
.eggs
*.egg
*.egg-info
dist
build
*.whl
*.pt
*.pth
*.keras
*.json
!class_indices.json
!pytoch_indices.json
.env
.env.local
.idea
.vscode
*.swp
*.swo
.DS_Store
Thumbs.db
kilo_local_recall.json
